@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Prompt:wght@900&display=swap');
@font-face {
    font-family: Onest;
    src: url("/public/fonts/Onest.ttf") format('ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    overflow-x: hidden;
}

header::before {
    z-index: -10;
    content: "";
    position: absolute;
    width: 700px;
    height: 300px;
    left: 40%;
    top: 40%;
    background: #ffc1ff;
    filter: blur(90px);
}

header::after {
    z-index: -10;
    content: "";
    position: absolute;
    width: 600px;
    height: 300px;
    transform: rotate(20deg);
    left: 20%;
    top: 20%;
    background: #c1eeff;
    filter: blur(90px);
}

section::before {
    z-index: -10;
    content: "";
    position: absolute;
    width: 400px;
    height: 300px;
    transform: rotate(30deg);
    left: 70%;
    top: 150%;
    background: #ffc1ff;
    filter: blur(90px);
}
section::after {
    z-index: -10;
    content: "";
    position: absolute;
    width: 200px;
    height: 400px;
    transform: rotate(90deg);
    left: 80%;
    top: 130%;
    background: #c1eeff;
    filter: blur(90px);
}