@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Prompt:wght@900&display=swap');
@font-face {
    font-family: Onest;
    src: url("/public/fonts/Onest.ttf") format('ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    overflow-x: hidden;
}

header::before {
    z-index: -10;
    content: "";
    position: absolute;
    width: 700px;
    height: 300px;
    left: 40%;
    top: 30%;
    background: #ffc1ff;
    filter: blur(90px);
}

header::after {
    z-index: -10;
    content: "";
    position: absolute;
    width: 600px;
    height: 300px;
    transform: rotate(20deg);
    left: 20%;
    top: 20%;
    background: #c1eeff;
    filter: blur(90px);
}

section::before {
    z-index: -10;
    content: "";
    position: absolute;
    width: 400px;
    height: 300px;
    transform: rotate(30deg);
    left: 70%;
    top: 120%;
    background: #ffc1ff;
    filter: blur(90px);
}
section::after {
    z-index: -10;
    content: "";
    position: absolute;
    width: 200px;
    height: 400px;
    transform: rotate(90deg);
    left: 60%;
    top: 120%;
    background: #c1eeff;
    filter: blur(90px);
}

#menu-on {
    animation: On;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
#menu-off {
    animation: Off;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
#text-on {
    animation: textOn;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}
#text-off {
    animation: textOff;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes On {
    from {
        transform: scale(1, 1);
        width: 50px;
    }
    25% { transform: scale(0.8, 1); }
    50% { transform: scale(1.2, 1); }
    75% { transform: scale(0.9, 1); }
    to {
        transform: scale(1, 1);
        width: 180px;
    }
}
@keyframes Off {
    from {
        transform: scale(1, 1);
        width: 180px;
    }
    25% { transform: scale(0.9, 1); }
    50% { transform: scale(1.1, 1); }
    75% { transform: scale(0.95, 1); }
    to {
        transform: scale(1, 1);
        width: 50px;
    }
}
@keyframes textOn {
    from {
        font-size: 0;
        opacity: 0;
    }
    to {
        font-size: 16px;
        opacity: 1;
    }
}
@keyframes textOff {
    from {
        font-size: 16px;
        opacity: 1;
    }
    to {
        font-size: 0;
        opacity: 0;
    }
}